body {
  background-color: black;
  color: white;
  position: relative;
}

#Layer_1 {
  height: 493px;
  width: 493px;
}

#Layer_1 .st0 {fill:#FFFFFF;}

#Layer_1 .st1 {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6.1827;
  stroke-miterlimit:10;
}

.bio {
  display: inline-block;
  max-width: 200px;
  text-align: center;
  padding: 10px;
}

.bio img {width: 100%;}

.pop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
}